
.navbar {
    background-color: rgb(173, 214, 212);
}

.quemsomos {
    background-color:rgb(236, 234, 234);
}

.padding {
    padding: 50px 0px 50px 0px;
}

.parceiros {
    background-color:rgb(231, 229, 229);
}

.localizacao {
    background-color:rgb(226, 224, 224);
}

.contato {
    background-color:rgb(221, 219, 219);
}

.bg-footer {
    background-color: rgb(173, 214, 212);
    padding: 10px 0px 10px 0px;
}

.topo {
    color:
}